/* The Menu wrapper is a grid */
.doc_wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

/* Each documentary is an item */
.doc_wrapper_item {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "topLeft    topRight"
        "middleLeft middleRight"
        "bottom     bottom";
}

.doc_wrapper_item:hover  .item_texts_subtitle {
   color: #f2c8a2;
}

.gridTopLeft {grid-area: topLeft;}
.gridTopRight {
    grid-area: topRight;
    border-width: 1px 1px 0 0;
    border-color: #fff;
    border-style: solid;
}
.gridTop {grid-area: top;}

.gridMiddleLeft {
    grid-area: middleLeft;
    border-left: 1px solid #fff;
}
.gridMiddleRight {
    grid-area: middleRight;
    border-right: 1px solid #fff;
}
.gridMiddle {grid-area: middle;}

.gridBottomLeft {grid-area: bottomLeft;}
.gridBottomRight {grid-area: bottomRight;}
.gridBottom {
    grid-area: bottom;
    border: 1px solid #fff;
    border-top: none;
}


.item_image {
    font-size: 80px;
    position: relative;
    bottom: 0px;
}
.item_texts {
    text-align: center;
    padding: 5px;
}

.item_texts_title {
    color: #f2c8a2;
    font-size: 30px;
    font-weight: bold;
}
.item_texts_subtitle {

}