.periodic-table {
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(9, 1fr);
}
.periodic-table__element {
  padding: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: #212424;
  color: #fff;
}
.periodic-table__element:hover .symbol {
  position: absolute;
  top: -6px;
  right: 2px;
  color: #212424;
}
.periodic-table__element:hover,
.periodic-table__element:hover .symbol {
  cursor: pointer;
  color: #212424;
}
.periodic-table__element .compounds-id {
  order: 1;
  display: none;
  align-self: flex-start;
}
.periodic-table__element:hover .compounds-id {
  padding: 0px 3px 1px 3px;
  border: 1px solid black;
  border-radius: 2px;
  color: #151515;
  position: relative;
  bottom: 1px;
}
.periodic-table__element .symbol {
  font-size: 30px;
  font-weight: bold;
  order: 2;
}
.periodic-table__element .name {
  order: 3;
  text-align: center;
}
.periodic-table__element .flavours {
  display: none;
  order: 4;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--swp .symbol {
  color: #f2c8a2;
}
.periodic-table__element--swp:hover {
  background-color: #f2c8a2;
}
.periodic-table__element:hover.periodic-table__element--swp {
  background-color: #f2c8a2;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--wt .symbol {
  color: #d1c4b4;
}
.periodic-table__element--wt:hover {
  background-color: #d1c4b4;
}
.periodic-table__element:hover.periodic-table__element--wt {
  background-color: #d1c4b4;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--ft .symbol {
  color: #dec6c4;
}
.periodic-table__element--ft:hover {
  background-color: #dec6c4;
}
.periodic-table__element:hover.periodic-table__element--ft {
  background-color: #dec6c4;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--et .symbol {
  color: #bebab1;
}
.periodic-table__element--et:hover {
  background-color: #bebab1;
}
.periodic-table__element:hover.periodic-table__element--et {
  background-color: #bebab1;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--pt .symbol {
  color: #c3d2d5;
}
.periodic-table__element--pt:hover {
  background-color: #c3d2d5;
}
.periodic-table__element:hover.periodic-table__element--pt {
  background-color: #c3d2d5;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--ct .symbol {
  color: #c5d3c2;
}
.periodic-table__element--ct:hover {
  background-color: #c5d3c2;
}
.periodic-table__element:hover.periodic-table__element--ct {
  background-color: #c5d3c2;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--ssa .symbol {
  color: #f2d9a9;
}
.periodic-table__element--ssa:hover {
  background-color: #f2d9a9;
}
.periodic-table__element:hover.periodic-table__element--ssa {
  background-color: #f2d9a9;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--fa .symbol {
  color: #dcc7d8;
}
.periodic-table__element--fa:hover {
  background-color: #dcc7d8;
}
.periodic-table__element:hover.periodic-table__element--fa {
  background-color: #dcc7d8;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--tp .symbol {
  color: #d9c3b6;
}
.periodic-table__element--tp:hover {
  background-color: #d9c3b6;
}
.periodic-table__element:hover.periodic-table__element--tp {
  background-color: #d9c3b6;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--sc .symbol {
  color: #d9c6a5;
}
.periodic-table__element--sc:hover {
  background-color: #d9c6a5;
}
.periodic-table__element:hover.periodic-table__element--sc {
  background-color: #d9c6a5;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--pc .symbol {
  color: #f8bba6;
}
.periodic-table__element--pc:hover {
  background-color: #f8bba6;
}
.periodic-table__element:hover.periodic-table__element--pc {
  background-color: #f8bba6;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--uc .symbol {
  color: #c5d3c4;
}
.periodic-table__element--uc:hover {
  background-color: #c5d3c4;
}
.periodic-table__element:hover.periodic-table__element--uc {
  background-color: #c5d3c4;
}
.periodic-table__element:hover {
  transition: 0.2s all ease-out;
  background-color: transparent;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: 5px;
  border: 1px solid white;
  border-radius: 2px;
}
.hidden {
  display: none !important;
}

.grid-container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  width: 100%;
}

.grid-item { 
  border: 1px dotted palegoldenrod;
  margin:0px;
  padding: 5px;
  font-size: 1em;
}
.card-compoundId { grid-area: 1/1/2/8;}
.card-compoundId .id { border: 1px solid #fff; border-radius:2px; margin: 2px; padding: 2px;}
.card-spiceName { grid-area: 2/1/3/8; }
.card-spiceId { grid-area: 1/8/4/14;  font-size: 8em;  text-align: right;}
.card-flavours { grid-area: 5/1/14/14; }




/*
Periodic grid template
*/
@media (max-width: 425px) {
  
  .grid_order-periodic {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "Ci An Lq"
    "Va Li Le"
    "Pa Se Si"
    "Ca St Mb"
    "Cu Lm Ta"
    "Wa Pr Gi"
    "Cl Fe Mc"
    "Ni Am Su"
    "Ga Pe Ch"
    "Al Cw Ju"
    "Sl Ar Cb"
    "As Sa Po"
    "Nu Di Ro"
    "Bl Ba By"
    "Cy Fg Aj"
    "Ma Ao Co"
    "Cm Gg Cc"
    "Mu Tu Ce";
  }
}
@media (min-width: 426px) {
  .grid_order-periodic {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
    "Ci An Lq Va Li Le Pa Se Si"
    "Ca St Mb Cu Lm Ta Wa Pr Gi"
    "Cl Fe Mc Ni Am Su Ga Pe Ch"
    "Al Cw Ju Sl Ar Cb As Sa Po"
    "Nu Di Ro Bl Ba By Cy Fg Aj"
    "Ma Ao Co Cm Gg Cc Mu Tu Ce";
  }
}

.grid_order-compounds {
  display: grid;
  grid-template-areas: "Ci An Lq Va" "Li Pa Se Si"
                       "Ca St Mb Cu" "Lm Ta Wa Pr Gi"
                       "Cl Fe Mc Ni" "Am Su Ga Pe Ch"
                       "Al Cw Ju Sl" "Ar Cb As Sa Po"
                       "Nu Di Ro Bl" "Ba By Cy Fg Aj"
                       "Ma Ao Co Cm" "Gg Cc Mu Tu Ce";
}

.periodic-table__element.Ci { grid-area: Ci;}
.periodic-table__element.An { grid-area: An;}
.periodic-table__element.Lq { grid-area: Lq;}
.periodic-table__element.Va { grid-area: Va;}
.periodic-table__element.Li { grid-area: Li;}
.periodic-table__element.Le { grid-area: Le;}
.periodic-table__element.Pa { grid-area: Pa;}
.periodic-table__element.Se { grid-area: Se;}
.periodic-table__element.Si { grid-area: Si;}
.periodic-table__element.Ca { grid-area: Ca;}
.periodic-table__element.St { grid-area: St;}
.periodic-table__element.Mb { grid-area: Mb;}
.periodic-table__element.Cu { grid-area: Cu;}
.periodic-table__element.Lm { grid-area: Lm;}
.periodic-table__element.Ta { grid-area: Ta;}
.periodic-table__element.Wa { grid-area: Wa;}
.periodic-table__element.Pr { grid-area: Pr;}
.periodic-table__element.Gi { grid-area: Gi;}
.periodic-table__element.Cl { grid-area: Cl;}
.periodic-table__element.Fe { grid-area: Fe;}
.periodic-table__element.Mc { grid-area: Mc;}
.periodic-table__element.Ni { grid-area: Ni;}
.periodic-table__element.Am { grid-area: Am;}
.periodic-table__element.Su { grid-area: Su;}
.periodic-table__element.Ga { grid-area: Ga;}
.periodic-table__element.Pe { grid-area: Pe;}
.periodic-table__element.Ch { grid-area: Ch;}
.periodic-table__element.Al { grid-area: Al;}
.periodic-table__element.Cw { grid-area: Cw;}
.periodic-table__element.Ju { grid-area: Ju;}
.periodic-table__element.Sl { grid-area: Sl;}
.periodic-table__element.Ar { grid-area: Ar;}
.periodic-table__element.Cb { grid-area: Cb;}
.periodic-table__element.As { grid-area: As;}
.periodic-table__element.Sa { grid-area: Sa;}
.periodic-table__element.Po { grid-area: Po;}
.periodic-table__element.Nu { grid-area: Nu;}
.periodic-table__element.Di { grid-area: Di;}
.periodic-table__element.Ro { grid-area: Ro;}
.periodic-table__element.Bl { grid-area: Bl;}
.periodic-table__element.Ba { grid-area: Ba;}
.periodic-table__element.By { grid-area: By;}
.periodic-table__element.Cy { grid-area: Cy;}
.periodic-table__element.Fg { grid-area: Fg;}
.periodic-table__element.Aj { grid-area: Aj;}
.periodic-table__element.Ma { grid-area: Ma;}
.periodic-table__element.Ao { grid-area: Ao;}
.periodic-table__element.Co { grid-area: Co;}
.periodic-table__element.Cm { grid-area: Cm;}
.periodic-table__element.Gg { grid-area: Gg;}
.periodic-table__element.Cc { grid-area: Cc;}
.periodic-table__element.Mu { grid-area: Mu;}
.periodic-table__element.Tu { grid-area: Tu;}
.periodic-table__element.Ce { grid-area: Ce;}