.periodic-table {
  display: grid;
  grid-template: "repeat(6, auto)/repeat(9, auto)";
  grid-gap: 2px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(9, 1fr);
}
.periodic-table__element {
  padding: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: #212424;
  color: #fff;
}
.periodic-table__element:hover .symbol {
  position: absolute;
  top: -6px;
  right: 2px;
  color: #212424;
}
.periodic-table__element:hover,
.periodic-table__element:hover .symbol {
  cursor: pointer;
  color: #212424;
}
.periodic-table__element .compounds-id {
  order: 1;
  display: none;
  align-self: flex-start;
}
.periodic-table__element:hover .compounds-id {
  padding: 0px 3px 1px 3px;
  border: 1px solid black;
  border-radius: 2px;
  color: #151515;
  position: relative;
  bottom: 1px;
}
.periodic-table__element .symbol {
  font-size: 30px;
  font-weight: bold;
  order: 2;
}
.periodic-table__element .name {
  order: 3;
  text-align: center;
}
.periodic-table__element .flavours {
  display: none;
  order: 4;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--swp .symbol {
  color: #f2c8a2;
}
.periodic-table__element--swp:hover {
  background-color: #f2c8a2;
}
.periodic-table__element:hover.periodic-table__element--swp {
  background-color: #f2c8a2;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--wt .symbol {
  color: #d1c4b4;
}
.periodic-table__element--wt:hover {
  background-color: #d1c4b4;
}
.periodic-table__element:hover.periodic-table__element--wt {
  background-color: #d1c4b4;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--ft .symbol {
  color: #dec6c4;
}
.periodic-table__element--ft:hover {
  background-color: #dec6c4;
}
.periodic-table__element:hover.periodic-table__element--ft {
  background-color: #dec6c4;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--et .symbol {
  color: #bebab1;
}
.periodic-table__element--et:hover {
  background-color: #bebab1;
}
.periodic-table__element:hover.periodic-table__element--et {
  background-color: #bebab1;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--pt .symbol {
  color: #c3d2d5;
}
.periodic-table__element--pt:hover {
  background-color: #c3d2d5;
}
.periodic-table__element:hover.periodic-table__element--pt {
  background-color: #c3d2d5;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--ct .symbol {
  color: #c5d3c2;
}
.periodic-table__element--ct:hover {
  background-color: #c5d3c2;
}
.periodic-table__element:hover.periodic-table__element--ct {
  background-color: #c5d3c2;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--ssa .symbol {
  color: #f2d9a9;
}
.periodic-table__element--ssa:hover {
  background-color: #f2d9a9;
}
.periodic-table__element:hover.periodic-table__element--ssa {
  background-color: #f2d9a9;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--fa .symbol {
  color: #dcc7d8;
}
.periodic-table__element--fa:hover {
  background-color: #dcc7d8;
}
.periodic-table__element:hover.periodic-table__element--fa {
  background-color: #dcc7d8;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--tp .symbol {
  color: #d9c3b6;
}
.periodic-table__element--tp:hover {
  background-color: #d9c3b6;
}
.periodic-table__element:hover.periodic-table__element--tp {
  background-color: #d9c3b6;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--sc .symbol {
  color: #d9c6a5;
}
.periodic-table__element--sc:hover {
  background-color: #d9c6a5;
}
.periodic-table__element:hover.periodic-table__element--sc {
  background-color: #d9c6a5;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--pc .symbol {
  color: #f8bba6;
}
.periodic-table__element--pc:hover {
  background-color: #f8bba6;
}
.periodic-table__element:hover.periodic-table__element--pc {
  background-color: #f8bba6;
}
.periodic-table__element:hover .compounds-id {
  display: block;
}
.periodic-table__element:hover .name {
  display: none;
}
.periodic-table__element:hover .flavours {
  display: block;
}
.periodic-table__element--uc .symbol {
  color: #c5d3c4;
}
.periodic-table__element--uc:hover {
  background-color: #c5d3c4;
}
.periodic-table__element:hover.periodic-table__element--uc {
  background-color: #c5d3c4;
}
.periodic-table__element:hover {
  transition: 0.2s all ease-out;
  background-color: transparent;
}
